# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# my local configs etc
mutagen.yml
mutagen.yml.lock
apps/backend/new-app-config-system
apps/backend/app-config
.devcontainer/
/config
rootfs/
.secrets
